/* GENERAL */
* {
    box-sizing: border-box;
}

:root {
    --clr1: #FF7F00;
}

/* helpers */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-centerx {
    justify-content: center;
}


.align-center {
    align-items: center;
}

/* header */
.header {
    background-color: var(--clr1);
}

.header .logo {
    color: aliceblue;
    margin-left: 5%;
}

.nav-buttons {
    margin-right: 5%;
}

/* filter-bar */
.filter-bar {
    margin: 2vh;
}

/* MAIN */
/* table */
.item {
    width: 100%;
    height: 250px;
    cursor: pointer;
}

.img-table {
    background-color: #E3E3E3;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-rows: repeat(3, 250px) ; */
    grid-gap: 20px;
    justify-self: center;
    align-self: center;
}

/* about */
.about {
    height: 50vh;
}

.about img {
    height: 35vh;
    width: 26vw;
}

.about-content {
    padding: 50px;
    width: 45vw;
}

.about-content p {
    font-size: 20px;
    margin: 5px 0 10px 0;
}

.about-content h3 {
    font-size: 25px;
    margin: 0;
}

.fa {
    background-color: var(--clr1);
    color: aliceblue;
    font: normal normal normal 27px/1 FontAwesome !important;
    padding: 10px;
    /* font-size: 30px; */
    /* width: 50px; */
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.fa-facebook {
    padding: 10px 14px;
}

/* footer */
.footer {
    background-color: var(--clr1);
    height: 16vw;
}

.footer h1,
.footer p {
    color: aliceblue;
}

.footer h1 {
    margin-bottom: 3px;
}

.footer p {
    margin-top: 3px;
}